:root {
    --ct-ls: #f5f2f0; /* light shades */
    --ct-la: #bac4d5; /* light accent */
    --ct-mb: #78b1e8; /* main brand */
    --ct-da: #7c7cf0; /* dark accent */
    --ct-ds: #1f21ef; /* dark shades */
}

.bg-mb {
    background-color: var(--ct-mb);
}

.text-mb {
    color: var(--ct-mb);
}

.table-mb {
    background-color: var(--ct-mb);
}

body {
    background-color: var(--bs-gray-100) !important;
    margin: 0;
    padding: 0;
}

.selected {
    font-weight: bold;
}

#wrapper {
    min-height: 100vh;
}

.workplace {
    background-color: var(--bs-white);
    padding: 15px 0;
}

.mini_workplace {
    background-color: var(--bs-white);
    width: 90%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.spacer {
    display: block;
    height: 15vh;
}

#map {
    height: 600px;
}

.fancy_table {
    border-collapse: collapse;
    margin: 10px auto;
    width: 1000px;
    border-radius: 10px 10px 0 0 !important;
    border-bottom: 3px solid teal;
}

.fancy_table thead th {
    padding: 10px;
    color: white;
    background-color: teal;
    border-bottom: 1px solid gray;
    text-align: left;
}

.fancy_table tbody tr td {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.fancy_table tbody tr:nth-of-type(odd) {
    background-color: lightgray;
}

.profile_card {
    padding: 20px 10px;
    height: 100%;
    text-align: center;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to top left, var(--ct-mb), var(--ct-ls));
}

.info {
    width: 70%;
    padding: 20px;
    background-color: whitesmoke;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info_wrapper {
    display: flex;
}

.left_box {
    padding: 20px;
    width: 35%;
}

.right_box {
    padding: 20px;
    width: 65%;
}

#avatar {
    width: 150px;
}

.login h1, .register h1 {
    color: var(--ct-mb);
    font-size: 48px;
    text-align: center;
}