<!DOCTYPE HTML>
<html>
    <head>
        <title>COVID19</title>

        <!--Meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Custom CSS-->
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

        <!--Custom JS-->
        <script src="javascripts/javascript.js" defer></script>

        <!--Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <!--Vue JS-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <!--Mapbox API-->
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>

        <!--Google API-->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="1056640990626-67ihmlsp4641f2gb9mjufede75hch3hi.apps.googlelogged_in_usercontent.com">
    </head>

    <body>
        <div id="wrapper">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-mb">
                    <div class="container">
                        <a class="navbar-brand" href="#">Logo</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#" onclick="logout()"><i class="bi bi-box-arrow-right"></i> Logout</a>
                                    <div class="g-signin2" style="display:none"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <nav class="navbar navbar-expand-lg navbar-light bg-mb">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item" v-on:click="selected_tab='Homepage'" v-bind:class="{selected: selected_tab==='Homepage'}">
                                    <a class="nav-link" href="#"><i class="bi bi-house"></i> Home</a>
                                </li>
                                <li class="nav-item" v-on:click="selected_tab='Check_in'" v-bind:class="{selected: selected_tab==='Check_in'}">
                                    <a class="nav-link" href="#">Check-in</a>
                                </li>
                                <li class="nav-item" v-on:click="selected_tab='History', get_history()" v-bind:class="{selected: selected_tab==='History'}">
                                    <a class="nav-link" href="#">History</a>
                                </li>
                                <li class="nav-item" v-on:click="selected_tab='Profile', user_profile()" v-bind:class="{selected: selected_tab==='Profile'}">
                                    <a class="nav-link" href="#">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="spacer"></div>

            <div class="workplace container">
                <div class="homepage" v-show="selected_tab==='Homepage'">
                    <div id="map"></div>
                </div>

                <div class="check_in" v-if="selected_tab==='Check_in'">
                    <img src="images/passwordicon.png" alt="Code" id="code" v-on:click="selected_tab='Check_in Code'">
                    <img src="images/mapicon.png" alt="GPS" id="gps">
                </div>

                <div class="check_in_code" v-if="selected_tab==='Check_in Code'">
                    <div>
                        <h1>Check_in with Code</h1>
                        <label>Code:</label>
                        <input type="text" name="input_code" id="input_code" placeholder="Enter your code" v-model="inputted_code.content">
                        <button v-on:click="submit_code()">Submit</button>
                        <p id="check_in_help"></p>
                    </div>
                </div>

                <div class="history" v-if="selected_tab==='History'">
                    <table class="fancy_table">
                        <thead>
                            <tr>
                                <th v-for="current_header in table_headers">{{current_header}}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="current_row in table_rows">
                                <td v-for="item in current_row">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div v-if="selected_tab==='Profile'">
                    <div class="profile">
                        <div class="general">
                            <img src="images/avatar.png" alt="Avatar" id="avatar">
                            <h2>{{logged_in_user.first_name}} {{logged_in_user.family_name}}</h2>
                            <p>Username</p>
                            <button type="button" class="btn btn-primary" v-on:click="service='Profile'">Profile</button>
                            <button type="button" class="btn btn-primary" v-on:click="service='Edit'">Edit</button>
                        </div>

                        <div class="info" v-if="service==='Profile'">
                            <div class="info_wrapper">
                                <div class="left_box">
                                    <div class="first_name">
                                        <h3>First name</h3>
                                        <p>{{logged_in_user.first_name}}</p>
                                    </div>

                                    <div class="dob">
                                        <h3>DOB</h3>
                                        <p>{{logged_in_user.dob}}</p>
                                    </div>

                                    <div class="email">
                                        <h3>Email</h3>
                                        <p>{{logged_in_user.email}}</p>
                                    </div>
                                </div>

                                <div class="right_box">
                                    <div class="last_name">
                                        <h3>Last name</h3>
                                        <p>{{logged_in_user.last_name}}</p>
                                    </div>

                                    <!--<div class="address">-->
                                    <!--    <h3>Address</h3>-->
                                    <!--    <p>{{logged_in_user.address}}</p>-->
                                    <!--</div>-->

                                    <div class="logged_in_username">
                                        <h3>Username</h3>
                                        <p>{{logged_in_user.username}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--///////////////////////////////////////////////-->
                        <div class="info" v-if="service==='Edit'">
                            <div class="info_wrapper">
                                <div class="left_box">
                                    <div class="first_name">
                                        <h3>First name</h3>
                                        <input type="text" placeholder="First name" v-model="logged_in_user.first_name">
                                    </div>

                                    <div class="dob">
                                        <h3>DOB</h3>
                                        <input type="date" v-model="logged_in_user.dob">
                                    </div>

                                    <div class="email">
                                        <h3>Email</h3>
                                        <input type="text" placeholder="Email" v-model="logged_in_user.email">
                                    </div>
                                </div>

                                <div class="right_box">
                                    <div class="family_name">
                                        <h3>Last name</h3>
                                        <input type="text" placeholder="Family name" v-model="logged_in_user.last_name">
                                    </div>

                                    <!--<div class="address">-->
                                    <!--    <h3>Address</h3>-->
                                    <!--    <input type="text" placeholder="Address" v-model="logged_in_user.address">-->
                                    <!--</div>-->

                                    <div class="logged_in_username">
                                        <h3>Username</h3>
                                        <input type="text" placeholder="Email" v-model="logged_in_user.username">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" v-on:click="update_user_data()">Submit</button>
                            <p class="text-success" id="edit_help"></p>
                        </div>
                    </div>
                </div>

                <!--<div class="login" v-if="selected_tab==='Login'">-->
                <!--    <div class="form">-->
                <!--        <h1>Loging In</h1>-->
                <!--        <label>logged_in_username</label>-->
                <!--        <input type="text" placeholder="logged_in_username">-->
                <!--        <label>Password</label>-->
                <!--        <input type="password" placeholder="Password">-->
                <!--        <button>Login</button>-->
                <!--    </div>-->
                <!--</div>-->
            </div>

            <!--<footer>-->
            <!--    <p>Company Name</p>-->
            <!--    <p>Company Address</p>-->
            <!--    <p>Phone Number</p>-->
            <!--    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
            <!--</footer>-->
        </div>
    </body>
</html>